target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
"Package Control.cache/"
Mongo-Aggregate-Snippets/

Evernote.sublime-settings
Package Control.cache
**.last-run
"./Package Control.last-run"
*.crt